body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-button,
.delete-button,
.add-button,
.save-button {
    padding: 6px 12px;
    background-color: #d3a297;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover,
.add-button:hover,
.save-button:hover {
    background-color: #b37d69;
}

.input-field {
    margin-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
    height: 80px;
}

/* Media Queries for RWD */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    #addButton {
        margin-top: 10px;
        width: 100%;
    }

    .edit-button,
    .delete-button,
    .add-button,
    .save-button {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
    }

    table,
    th,
    td {
        font-size: 14px;
        padding: 6px;
    }
}

@media screen and (max-width: 480px) {
    .edit-button,
    .delete-button,
    .add-button,
    .save-button {
        font-size: 12px;
        padding: 8px;
    }

    th,
    td {
        font-size: 12px;
        padding: 4px;
    }
}
