.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #444;
}

.header{
    margin: 8px;
}

.items{
    border:1px solid #ebe9e9
}

.item{
    display: flex;
    margin: 8px;
}

.item_img{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 6px;
    margin-right: 8px;
    padding-right: 8px;
    
}

.intro{
    margin-left: 10%;
    width: 80%;
    align-items:left;
    border: 1px solid #ebe9e9;
}

.sp{
    width: 38.5%;
    padding-left: 35px;
}

.gg{
    width: 16%
}


.item_name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.sku{
    width: 15%;
}

.price,.num_control, .total, .operation{
    width: 10%;
}

.total{
    color: red;
}

.sku, .price, .num_control, .total, .operation{
    margin-left: 18px;
}

.buy_num{
    width: 18px;
    padding: 0;
    text-align: center;
}

.num_control{
    display: flex;
    align-items: baseline;
}

.add, .reduce{
    width: 18px;
    height: 22px;
    display: inline-block;
    background-color:#ebe9e9;
    color: #666;
    text-align: center;
    text-decoration: none;

}

.disabled{
    color: #ccc;
    cursor: not-allowed;
}

.checkout{
    display: flex;
    justify-content: space-between;
}

.shop{
    margin-bottom: 20px;
    margin-top: 20px;
}

.checked_button{
    background:transparent;
    color: white;
    border: 2px solid palevioletred;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    border: none;
    padding: 8px 12px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-right: 10%;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}
.checked_button {
      background-color: white; 
      color: black; 
      border: 2px solid palevioletred;
}

.checked_button:hover {
      background-color: palevioletred;
      color: white;
}

.del{
    color: black;
    text-decoration: none;
}

.del:hover{
    color: palevioletred;
}

.sumTotal{
    color: palevioletred;
}


