body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #d3a297;
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    color: #d3a297;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me input {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d3a297;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #d3a297;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #d3a297;
    text-decoration: none;
}

.social-login p {
    margin: 20px 0 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.register-section p {
    margin-bottom: 10px;
}

.register-button {
    background-color: white;
    color: #d3a297;
    border: 1px solid #d3a297;
}

.register-button:hover {
    background-color: #f0f0f0;
}
h2{
    color: #d3a297;
}
p{
    color: #d57463;
}